<div class="game-desc">
  <h4>Player: </h4>
  {{ player }}
  <h4>State</h4>
  {{ state }}
</div>
<table>
  <tr *ngFor="let row of tileArr; index as i">
    <td
      *ngFor="let tile of row; index as j"
      [ngClass]="{'dot': tile.type === 'dotPoint' || tile.type === 'dotFilled',
                  'ex': tile.type === 'xPoint' || tile.type === 'xFilled',
                  'filled' : tile.type === 'xFilled' || tile.type === 'dotFilled',
                  'check' : tile.beingChecked}"
      (click)="tileClicked(i, j)"><app-tile [tile]="tile"></app-tile></td>
  </tr>
</table>
  <!-- <mat-grid-list style = "height: 100%" [cols]="tileArr.length" rowHeight="1:1">
    <ng-container *ngFor="let row of tileArr; index as i">
      <mat-grid-tile *ngFor="let tile of row; index as j" (click)="tileClicked(i, j)"><app-tile [tile]="tile"></app-tile></mat-grid-tile>
    </ng-container>
  </mat-grid-list> -->
